DEBUG=True
SECRET_KEY=
DATABASE_URL=postgresql://postgres:00Ino1%2F2Blood@db.hkgrkocbvbjgbztqwbdn.supabase.co:5432/postgres
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
OVERDUE_THRESHOLD_DAYS=5